.box {
    background: var(--box-bg-color);
    background: var(--box-bg);
    padding: 40px 30px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 430px;
}