@keyframes top {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.root {
    display: flex;
    animation: top 1s var(--delay) both;
    padding-top: 40px;
    border-radius: 6px;
    flex-direction: column;
    flex-grow: 1;
    max-height: 430px;
    justify-content: space-between;
    max-width: 310px;
}

.accountProfile {
    margin: auto;
    position: relative;
    text-align: center;
}

.accountProfile img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left;
    object-position: left;
    border: 3px solid #4255d3;
    padding: 5px;
}

.accountProfile .blob {
    position: absolute;
    border-radius: 50%;
    -webkit-animation: fly 5.8s linear infinite alternate;
    animation: fly 5.8s linear infinite alternate;
}

.accountProfile .blob:nth-child(1) {
    width: 14px;
    height: 14px;
    top: 25px;
    left: -20px;
    background: #28327a;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.accountProfile .blob:nth-child(2) {
    width: 18px;
    height: 18px;
    background: #87344c;
    right: -20px;
    top: -20px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.accountProfile .blob:nth-child(3) {
    width: 12px;
    height: 12px;
    background: #13645b;
    right: -35px;
    top: 50%;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

.accountName {
    margin: 20px 0 10px;
}

.accountTitle {
    font-size: 14px;
}

.accountCash {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 6px;
    padding-top: 16px;
    position: relative;
}

.accountCash:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #9b9ca7;
    right: 10px;
    border-radius: 50%;
    box-shadow: -10px 0 0 0 #9b9ca7, 10px 0 0 0 #9b9ca7;
    top: 24px;
}

.income {
    font-size: 14px;
}

.iban {
    margin-top: auto;
    font-weight: 500;
}

.creditCard {
    margin-top: 25px;
    position: relative;
    transition: all 0.5s;
}

.creditCard:hover {
    transform: scale(1.02);
}

.creditCard:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    box-shadow: -15px 0 0 0 #ef8741;
    background: #ef415c;
    top: 20px;
    left: 42px;
    border-radius: 50%;
}

@-webkit-keyframes fly {
    40% {
        transform: translate(-6px, -6px);
    }
    60% {
        transform: translate(-12px, -2px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes fly {
    40% {
        transform: translate(-6px, -6px);
    }
    60% {
        transform: translate(-12px, -2px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
