.mainContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;
    padding-left: 0;
    padding-right: 0;
    gap: 20px;
}

.subContainer {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}
