:root {
    --c-primary: #9b9ca7;
    --c-secondary: #252954;
    --fade: 120ms;
    --navigation-bar-delay: 0s;
    --font-family: "Inter", sans-serif;
    --bg-color: #9b9ca7;
    --main-bg: #eee;
    --hover-color: #4255d4;
    --topbar-bg-color: #eee;
    --box-bg-color: #eee;
    --waiting-color: #3E4EC2;
    --red-color: #d14b69;
    --green-color: #1aa385;
    --box-bg: radial-gradient(circle, #eee 0%, #eee 50%);
}

.theme-dark {
    --c-primary: #252954;
    --c-secondary: #9b9ca7;
    --bg-color: #252954;
    --main-bg: #0e0e23;
    --hover-color: #4255d4;
    --topbar-bg-color: #141834;
    --box-bg-color: #1a2049;
    --waiting-color: #3E4EC2;
    --red-color: #d14b69;
    --green-color: #1aa385;
    --box-bg: radial-gradient(circle, #1a2049 0%, #13162f 100%);

}
