@keyframes top {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.root {
    animation: top 1s var(--delay) both;
    padding: 0;
    background-color: var(--box-bg-color);
    max-width: 300px;
}

.pickerContainer *,
.react-datepicker__header {
    background-color: var(--main-bg);
    font-size: 13px;
    font-weight: 500;
    color: #9b9ca7;
    border: 0;
}

.react-datepicker__header,
.datepicker,
.react-datepicker__header--custom {
    background-color: var(--main-bg);
    font-size: 13px;
    font-weight: 500;
    color: #9b9ca7;
    text-align: center;
    border-bottom: 1px solid #aeaeae;
    border-top-left-radius: 0.3rem;
    padding-top: 0;
    position: relative;
}

.pickerContainer > * {
    width: 100%;
}

.selectedDay,
.selectedDay:hover,
.day:hover {
    background: #4255d4;
    border-radius: 50%;
    color: #fff;
}

.day {
    background-color: var(--main-bg);
    font-size: 13px;
    font-weight: 500;
    color: #9b9ca7;
}

.title {
    background: #10122b;
    border-radius: 6px 6px 0 0;
    padding: 20px 35px;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
}

.title button {
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
}

.title svg {
    color: #4154d1;
    background: #14183c;
    border-radius: 50%;
    width: 30px;
}
